.home_layout {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2%;
}

.budgets_container {
  margin-top: 10px;
}

.bc {
  // line-height: 1;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px;

  &_header {
    // border-top-left-radius: 0.5rem;
    // border-top-right-radius: 0.5rem;
    padding: 4px 8px;
    background-color: #47a892;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 16px;
    margin-bottom: 6px;

    &_category {
      color: #fff;
      justify-self: center;
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
    }

    &_amount {
      font-size: 13px;
      justify-self: end;
      color: #fff;
    }
  }

  &_exp {
    display: grid;
    padding: 0px 10px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    &_item {
      display: grid;
      background-color: #e9f8f5;
      border: 1px solid #47a892;
      border-radius: 6px;
      padding: 5px 0px;
      font-size: 12px;
      align-items: center;
      // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px;

      button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        display: grid;
      }

      &_header {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        padding-left: 11px;
        padding-right: 5px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3px;

        &_merchant {
        }
      }

      &_info {
        padding-left: 11px;
        padding-right: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3px;

        &_date {
        }

        &_amount {
          padding-right: 2px;
        }
      }
    }
  }

  &_form_container {
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0px 10px;

    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      display: grid;
    }

    &_form {
      background-color: #2c273341;
      border: 1px solid #a09494;
      border-radius: 6px;
      padding: 3px 10px;
      height: 30px;
      background-color: #d8eef8;
      display: flex;
      align-items: center;

      label {
        color: #000000;
        font-size: 14px;
      }

      input {
        border: none;
        border-bottom: 1px solid #000000;
        // margin: 0 5px;
        // width: 100%;
        background-color: transparent;
        color: #000000;
        outline: none;
      }
    }
  }

  &_svg_icon {
    width: 19px;
    height: 19px;
    cursor: pointer;
  }

  &_svg_remove {
    stroke: #ce423a;
    fill: #f3cfcd;

    :hover {
      stroke: #663c39;
      fill: #f8817b;
    }
  }

  &_svg_add {
    stroke: #469653;
    fill: #d2ecd7;

    :hover {
      stroke: #51976c;
      fill: #75da86;
    }
  }
}
